.productcard {
  background-color: white;
  box-shadow: 2px 2px 10px 1px #c9cdd1;
  border-radius: 8px;
  height: 370px;
  overflow: hidden;
  width: 250px;
  .card-image {
    img {
      margin: auto;
      height: 150px;
      width: 100%;
      object-fit: fill;
    }
  }
  .cardcontent {
    text-align: center;
    padding: 0 10px;
    .underline:hover {
      text-decoration: underline;
    }
    .price {
      color: rgb(226, 58, 5);
      font-weight: 500;
      font-size: 20px;
    }
    .rating {
      color: gray;
    }
  }
  .action {
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #2ab7a9;
    border: none;
    box-shadow: 1px 5px 5px 1px #c9cdd1;
    border-radius: 3px;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
    a {
      color: black;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}

.pointer {
  font-family: "Market Sans";
  font-size: 17px;
  cursor: pointer;
}
